{
    "extends": ["eslint:recommended"],
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "commonjs": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 7
    },
    "globals": {
      "Promise": true,
      "expect": true,
      "describe": true,
      "it": true,
      "Symbol": true,
      "test": true
    },
    "rules":{
    }
}
